@page "/"
@using MBSChatComponents
@inject HttpClient http

<h1>@title</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    public string? title;

    protected override async Task OnInitializedAsync()
    {
        title = await http.GetStringAsync("http://127.0.0.1:1234/helloworld");
        await base.OnInitializedAsync();
    }
}
