@page "/"
@using MBSChatComponents
@inject HttpClient http

<h1>@title</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    public string title = http.GetStringAsync;
}
