@inject MessageService messageService
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>MBS Chat</h1>

<InputText @bind-Value="message" />

<button class="btn btn-primary" @onclick="ClickMe">Send Message</button>

@foreach (var message in messageService.Messages)
{
	<p>@message</p>
}

@code {
	protected override void OnInitialized()
	{
        messageService.Notify += () => InvokeAsync(StateHasChanged);

		base.OnInitialized();
	}
}

@code {
	private string message = "Hello, World!";

	private void ClickMe()
	{
		messageService.AddMessage(message);
	}
}
